# Python Einführung
## Für Dummies

**fett** *kursiv*
- Punkt 1
- Punkt 2
- Punkt 3 ... einer Liste

Erste Anweisung

In [1]:
print("Hello World!")

Hello World!

1.2 Kommentare

In [2]:
# Das ist ein Kommentar
print("something")

something

In [3]:
# einzeiliger Kommentar
'''
mehrzeiliger 
Kommentar
'''
print("hurra")

hurra

1.3 Einfache Datentypen

In [42]:
# Variable und Wertzuweisung
mein_haustier = "Minka"
print(mein_haustier)

Minka

In [43]:
# String -Zeichnekette
vor_name = "Brumhilde"
vor_name

'Brumhilde'

In [8]:
# ganze Zahlen, Integer
age = 12
print(age)

12

In [9]:
# Gleitkomman, float number
size = 1.7123e3
print(size)

1712.3

In [11]:
# boolean
knows_math = True
print(knows_math)

True

In [12]:
like_slacking = False
print(like_slacking)

False

In [15]:
type(age)

int

In [16]:
type(size)

float

In [17]:
type(meinHaustier)

str

In [19]:
# Typkonvertierung
alter_als_zeichenkette = str(age)
alter_als_zeichenkette

'12'

1.4 Operatoren

In [20]:
5 + 5

10

In [21]:
# Multiplikation
age * 2

24

In [23]:
# ... liefert 2x die Zeichenkette "12" ...
alter_als_zeichenkette * 2

'1212'

In [24]:
name = "Lovelace"

In [26]:
name + "10"

'Lovelace10'

In [28]:
# Division
size / age

142.69166666666666

1.5 Funktionen und Methoden

In [29]:
len(meinHaustier)

8

In [30]:
print(meinHaustier)

Mausebär

In [31]:
len(name)

8

In [32]:
name.upper()

'LOVELACE'

In [33]:
print(name)

Lovelace

In [34]:
name_upper_case = name.upper()

In [35]:
print(name_upper_case)

LOVELACE

In [40]:
# case sensitive
name.count("e")

2

In [37]:
name.replace("lace","joy")

'Lovejoy'

1.6 Container

In [46]:
# Listen
names = ["Lovelace","Darwin","Curie","Hawking"]

In [45]:
names[2]

'Curie'

In [47]:
names[0]

'Lovelace'

In [48]:
names[-1]

'Hawking'

In [49]:
name[-1]

'e'

In [50]:
print(name)

Lovelace

In [53]:
# slicing
print(names)
names[0:3]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

['Lovelace', 'Darwin', 'Curie']

In [52]:
names[0:3+1]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [55]:
names[:2]

['Lovelace', 'Darwin']

In [56]:
names[2:]

['Curie', 'Hawking']

In [60]:
# dictionaries
# keys müssen eindeutig sein! Werte dürfen mehrfach vorkommen ...
authors_and_birth_dates = {"Lovelace":1882, 
                           "Darwin":1809,
                           "Noether":1882,
                           "Hawking":1942}

In [59]:
authors_and_birth_dates["Darwin"]

1809

In [61]:
type(authors_and_birth_dates)

dict

2 For-Schleife

In [64]:
for last_name in names:
    print(last_name + " did awesome stuff.")
    print("--")
print("***")

Lovelace did awesome stuff.
--
Darwin did awesome stuff.
--
Curie did awesome stuff.
--
Hawking did awesome stuff.
--
***

In [67]:
# ... aus einem Dictionary
for x in authors_and_birth_dates.keys():
    print(x + " " + str(authors_and_birth_dates[x]))

Lovelace 1882
Darwin 1809
Noether 1882
Hawking 1942

In [68]:
authors_and_birth_dates.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

In [69]:
# eleganter:
for x in authors_and_birth_dates:
    print(x)

Lovelace
Darwin
Noether
Hawking

In [70]:
# ... und beides:
for k,v in authors_and_birth_dates.items():
    print(k, v)

Lovelace 1882
Darwin 1809
Noether 1882
Hawking 1942

2.1 Bedingte Anweisungen

In [71]:
temp = 20
if temp > 15:
    print("it's hot ... ?")

it's hot ... ?

In [74]:
temp = 45
if temp > 30:
    print("it's hot ...")
elif temp >= 15:
    print("it's warm ...")
else:
    print("it's cooold ... ?")

it's hot ...

In [77]:
temp = 21
if 20 < temp <= 25:
    print("warm!")
else:
    print("Brrrrr")

warm!